server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: valute

  jpa:
    hibernate:
      ddl-auto: none

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/valute_db
    username: postgres
    password: 12345

  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: group_id
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

springdoc:
  swagger-ui:
    path: \swagger-ui.html
    enabled: true
    operations-sorter: alpha
    tags-sorter: alpha

app:
  central-bank-client:
    url: https://cbr.ru/scripts/XML_daily.asp
